[submodule "eskv-pong"]
	path = eskv-pong
	url = https://github.com/spillz/eskv-pong
[submodule "eskv"]
	path = eskv
	url = https://github.com/spillz/eskv
[submodule "puzzlekingdom"]
	path = puzzlekingdom
	url = https://github.com/spillz/puzzlekingdom
[submodule "alphabetical"]
	path = alphabetical
	url = https://github.com/spillz/alphabetical
