[submodule "eskv-pong"]
	path = eskv-pong
	url = https://github.com/spillz/eskv-pong
[submodule "eskv"]
	path = eskv
	url = https://github.com/spillz/eskv
[submodule "puzzle-kingdom"]
	path = puzzlekingdom
	url = https://github.com/spillz/puzzlekingdom
